<h1>Propiedades</h1>
<!-- Con esto estamos bindeando la propiedad de html a nuestra variable de TS -->
<button [disabled]="btnDisabled">Enviar</button>
<!-- Tambien podemos controlar los estados del input, de su valor por ejemplo -->
<input type="text" [value]="name">

<br>
<!-- Progress es un elemento nativo de HTML, le controlamos el estado del valor -->
<progress max="100" [value]="age"></progress>
<br>
<!-- Aca bindeamos la propiedad de SRC con la img almacenada -->
<img width="100px" [src]="img" alt="">
<hr>
<h1>Hola Mundo</h1>
<!-- Dentro de estos breakers puedo correr codigo JS, por ejemplo el repeat -->
<h2>{{ 'Hola mundo '.repeat(5)}}</h2>
<!-- En la primer parte es string, el resto es operación -->
<p>3+3 = {{ 3 + 3 }}</p>
<h3>Hola soy {{name}} + y tengo {{age}}</h3>
<!-- Con esto estamos asignando el atributo al tag de html -->
<img src="{{img}}" height="200px" alt="image">

<!--  Property [Binding] Es la forma en la que nosotros podemos modificar atributos desde el controlador
  Y mandarle esto a los atributos de HTML, por ejemplo un tag de una img, un href, el estado de un boton, etc. 
  De una forma tenemos string interpolation {{}} y de la otra Property [Binding]
  
  CUAL ES LA GRAN DIFERENCIA???
  
  {{}} El string interpolation nos sirve para ingresar contenido por ejemplo en un parrafo, donde necesitamos renderizarlo
  de alguna manera, un parrafo un h1, etc.
  
  [] En cambio el Property Binding es exclusivo para las propiedades de los elementos HTML, estados del boton, value, etc.
  No hay mucha diferencia si estamos manejando strings, pero si estamos manejando objetos, numeros, bools
  Lo mas recomentable es utilizar el []
  La recomendacion es utilizar casi siempre el property binding, para no tener que comprobar si es o no una string
-->

<img src="{{person.avatar}}" height="200px" alt="">
<img [src]="person.avatar" height="200px" alt="">
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>

<hr>

<!-- Event ( Binding ) el evento y la funcion -->
<h1>Eventos</h1>
<button (click)="toggleButton()">Toggle Button</button>

<input type="text" [value]="person.name">
<p>Edad {{person.age}}</p>
<button (click)="decreaseAge()">Age--</button>
<progress max="100" [value]="person.age"></progress>
<button (click)="increaseAge()">Age++</button>

<div (scroll)="onScroll($event)" class="box">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus perspiciatis porro ab, quod dolorem, nihil, optio minus consequuntur suscipit sequi delectus vel quaerat necessitatibus distinctio voluptates! Magnam dolores nesciunt sapiente!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus perspiciatis porro ab, quod dolorem, nihil, optio minus consequuntur suscipit sequi delectus vel quaerat necessitatibus distinctio voluptates! Magnam dolores nesciunt sapiente!</p>
  </div>
  
  <!--  
    
    Las propiedades de un $event (objeto) varían según el tipo de evento DOM. 
    Por ejemplo, un evento de mouse incluye información diferente a la de un evento 
    de edición de cuadro de entrada.
    
  -->
  
  <!-- En este evento vamos a capturar la pulsación de teclas 
    De esta manera estamos leyendo el valor de un input con un evento y cambiando el valor del objeto desde el input
  -->
  <input type="text" [value]="person.name" (keyup)="changeName($event)" />
  <p>Nombre: {{person.name}}</p>
  
  <!-- //  Eventos y sintaxis de binding con eventos
    https://angular.io/guide/binding-syntax
    https://www.eduforbetterment.com/lists-of-useful-events-types-for-event-binding-in-angular/   
    https://developer.mozilla.org/en-US/docs/Web/Events
  -->
  <!-- 
    <input type="text" [value]="values" (keyup)="onK($event)" />
    <p>Nombre on K: {{values}}</p>
    <input type="text" [value]="values" (keyup)="onKey($event)" />
    <p>Nombre on Key: {{values}}</p> -->
    
    <!-- DATA [(BINDING)] doble enlace Esto es una fusión entre escuchar un evento con (Event Binding)
      y setear una propiedad con [property binding]
      Lo hacemos con ngModel - Banana in a box [(ngModel)]
      Esto se utiliza mucho para los INPUTS
      ngModel tiene caracteristicas importantes para los inputs, ya que siempre esta pendiende del estado
      Para saber si el estado es valido o no, la interacción que tiene el usuario con ese campo, etc.
      Además sincroniza el valor.
      
      Vamos a utilizar el paquete de Angular Forms donde vamos a tener ngModel
    -->
    <hr>
    <h1>NgModel</h1>
    <!-- Con esto se va a hacer una fusión entre enviar el valor del input y asignarlo a la variable 
    Pero primero tenemos que habilitar el paquete/modulo de ngModel en app.module.ts
    lo ponemos en el array de imports y se importa automaticamente arriba
    FormsModule.

    Ademas con el ngModel podemos obtener estados de validación haciendo referencia a ese template
    o ese input con el # y dandole nombre y diciendole que el valor viene de "ngModel":

    Pero en cuanto a que es valido? Se pueden poner validaciones nativas de HTML, como required
    o patrones, etc.
  -->
    <input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
    <p>Valid: {{nameInput.valid}}</p>
    <!-- En los type number tambien podemos validar maximos y minimos -->
    <input type="number" max="100" min="1" required #ageInput="ngModel" [(ngModel)]="person.age">
    <p>Age: {{person.age}}</p>
    <p>Valid: {{ageInput.valid}}</p>
  <hr>
  <h1>*ngIf</h1>
  <p>TIP: Probar con Julian 18 años</p>
  <!-- Directivas con condicionales, si esto se cumple muestra el contenido, sino no -->
  <p *ngIf=" person.name === 'Patricio'">
    My Content - Soy {{person.name}}
  </p>
  <!-- Directivas con condicionales, si esto se cumple muestra el contenido, sino no que muestre el elseblock-->
  <p *ngIf=" person.name === 'Julian' && person.age === 18; else elseBlock">
    My Content - Soy {{person.name}}
  </p>
<!-- Esto -->
  <ng-template #elseBlock>
    <p>Bloque de Else</p>
  </ng-template>

  <!--  -->
  <input type="text" required [(ngModel)]="person.name">
  <input type="number" required [(ngModel)]="person.age">

  <hr>

  <h1>*ngFor</h1>
  <!-- (keyup.enter)="addName()" Con esto se hace el evento de KeyUp cuando se presiona Enter -->
  <input [(ngModel)]="newName" (keyup.enter)="addName()" type="text" name="" id="">
<button (click)="addName()">Add Name</button>
<ul>
  <!-- Se puede usar "index as i" o hacerlo con "let i = index" -->
  <li *ngIf="names.length === 0">La lista esta vacía. Agregue un nombre</li>
  <li *ngFor="let name of names; index as i"> 
    {{i+1}} - {{ name }}
    <button (click)="deleteName(i)">DELETE</button>
  </li>
</ul>

<hr>
<h1>Saint Seiya</h1>

<ul>
  <li *ngFor="let saint of saints; index as i">
    {{ saint }} - 
    <button (click)="removeStar(i)">-⭐</button>
    <button (click)="addStar(i)">+⭐</button>
  </li>
</ul>

<hr>
<!-- Video 13 -->
<h1>*ngFor Objetos</h1>
<div style="display: flex; gap: 1em">
  <div *ngFor="let product of products; index as i">
  <!-- no con string interpolation, sino con property binding
    <img src="{{product.image}}" height="100px" alt=""> -->

    <img [src]="product.image" width="250px" alt="image-{{i}}" title="{{product.name}}">
    <h2> $ {{product.price}}</h2>
    <p>{{product.name}}}</p>

  </div>
</div>

<hr>
<h1>ngSwitch sin *</h1>

<input type="text" required [(ngModel)]="person.name" />
<!-- Se pueden poner muchos IF, pero no es lo recomendable -->

<!-- <p *ngIf="person.name === 'nicolas'"> La persona es Nicolas</p>
<p *ngIf="person.name === 'julian'"> La persona es Julian</p>
<p *ngIf="person.name === 'camilo'"> La persona es Camilo</p>
 -->

 <!-- NGSWITCH se utiliza el [property binding] -->
 <div [ngSwitch]="person.name">
  <p *ngSwitchCase="'seiya'"> El santo es Seiya de Pegaso</p>
  <p *ngSwitchCase="'shiryu'"> El santo es Shiryu de Dragón</p>
  <p *ngSwitchCase="'hyoga'"> El santo es Hyoga de Cisne</p>
  <p *ngSwitchCase="'shun'"> El santo es Shun de Andrómeda</p>
  <p *ngSwitchCase="'ikki'"> El santo es Ikki de Fénix</p>
  <p *ngSwitchDefault> No se conoce el santo</p>


 </div>






    <hr style="margin-bottom: 5em;">